.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .email__container {
    display: flex;
  }
  .header__infos {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  .totalValue__container {
    display: flex;
    justify-content: flex-start;
  }
  .header__title {
    color: #131314;
    font-family: Bungee, cursive;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin: 4px 0 0 4px;
    text-align: center;
  }